.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #232323;
}
.home-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image {
  width: 256px;
  height: 193px;
  object-fit: cover;
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-text {
  color: rgb(255, 255, 255);
  font-size: 60px;
  align-self: flex-end;
  font-style: normal;
  font-weight: 700;
}
.home-text3 {
  top: 574px;
  left: 1004px;
  color: #ffffff;
  position: absolute;
  font-size: 25px;
}
.home-carbon-monoxide-reading {
  top: 451px;
  left: 959px;
  color: #ffffff;
  position: absolute;
  font-size: 25px;
}
.home-temperature-reading {
  top: 579px;
  left: 386px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 25px;
}
.home-dashboard {
  top: 194px;
  left: 390px;
  color: var(--dl-color-primary-500);
  position: absolute;
  font-size: 45px;
  align-self: flex-start;
  text-decoration: underline;
}
.home-about {
  top: 298px;
  left: 753px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 45px;
  align-self: flex-start;
  text-decoration: underline;
}
.home-carbon-dioxide-reading {
  top: 447px;
  left: 386px;
  color: #ffffff;
  position: absolute;
  font-size: 25px;
  align-self: flex-start;
}
.home-team {
  top: 299px;
  left: 1080px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 45px;
  align-self: flex-start;
  text-decoration: underline;
}
