doctype html
html 
    head 
        title Air-Quality Monitoring System
    body 
        
        img(src = 'mapua_logo.webp')
        img(src = 'Title_black.png')
        block content
        br
        hr
        footer 
            p Copyright &copy;2022
