doctype html
html(lang="en")
    head 
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,intiial-scale=1,shrink-to-fit=no")
        title #{title} | Air-Quality Monitoring System
        meta(property = "og:title" content ="Air-Quality Monitoring System")
        style(data-tag="reset-style-sheet") html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6 {  margin: 0;  padding: 0;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
        style(data-tage="defualt-style-sheet") html { font-family: Raleway; font-size: 18px;} body {font-weight: 400; font-style: normal; text-decoration: none; text-transform: none; letter-spacing: normal; line-height: 1.55; color: var(--dl-color-gray-black); background-color: var(--dl-color-gray-white);}
        link(rel="stylesheet" href ="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" data-tag="font")
        link(rel="stylesheet" href ="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" data-tag="font")
        link(rel="stylesheet" href ="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" data-tag="font")
        style html{scroll-behavior:smooth;}
        link(rel='stylesheet',href='/css/style.css')
    body
        div
            link(rel='stylesheet', href = '/css/home.css')
            .home-container 
                .home-navbar-container(data-role = "Header")
                    .home-navbar 
                        .home-left-side 
                            img.home-image( alt="image" src = '/img/mapua_logo-200h.webp')
                        .home-right-side 
                            .home-menu(data-type="BurgerMenu")
                                svg(viewBox="0 0 1024 1024" class="home-icon")
                                    path( d= "M128 256h768v86h-768v-86zM128 554v-84h768v84h-768zM128 768v-86h768v86h-768z")
                            .home-links-container 
                                a.home-link.anchor(href="/") Home
                                a.home-link01.anchor(href="/dashboard") Dashboard
                                a.home-link02.anchor(href="/team") Team
                                a.home-link03.anchor(href="/about") About
                        .home-mobile-menu(data-type="MobileMenu")
                            .home-container1 
                                img.home-image1( alt="image" src = '/img/mapua_logo-200h.webp')
                                .home-close-menu(data-type = "CloseMobileMenu")
                                    svg.home-icon02(viewBox="0 0 1024 1024")
                                        path(d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z")
                            .home-links-container1 
                                a.home-link04.anchor(href="/") Home
                                a.home-link05.anchor(href="/dashboard") Dashboard
                                a.home-link06.anchor(href="/team") Team
                                a.home-link07.anchor(href="/about") About
                block content
            .footer-container 
                ul 
                    li
                        a(href = "/team") Team 
                    p
                        span MCPua
                        Copyright &copy; 2022, All Rights Reserved
        script(src = "https://unpkg.com/@teleporthq/teleport-custom-scripts@0.0.8")
            //include Mscript.js
            