extends layout 

block content 
    link(rel='stylesheet',href='/css/style.css')
    link(rel='stylesheet', href = '/css/team.css')
    .home-team
        .home-heading-container2 
            h1.home-text16.section-Heading Meet the Team 
            span.home-text17.secton-Text Group 1
        .home-cards-container2 
            .home-team-card 
                .home-avatar-container 
                    img.team-image( alt="image" src = '/team/Pua.jpg')
                span.home-name.card-Heading PUA, Marc Lawrence C.
                span.home-position.card-Text mlcpua@mymail.mapua.edu.ph
            .home-team-card
                .home-avatar-container
                    img.team-image(alt="image" src = '/team/Jasmin.jpg')
                span.home-name.card-Heading JASMIN, Ma. Crisanta 
                span.home-position.card-Text mcqjasmin@mymail.mapua.edu.ph
            .home-team-card
                .home-avatar-container
                    img.team-image(alt="image" src = '/team/Lanuza.png')
                span.home-name.card-Heading LANUZA, Rodmar
                span.home-position.card-Text rvlanuza@mymail.mapua.edu.ph
            .home-team-card
                .home-avatar-container
                    img.team-image(alt="image" src = '/team/Escala.jpg')
                span.home-name.card-Heading ESCALA, Jasper Adrian S.
                span.home-position.card-Text jasescala@mymail.mapua.edu.ph
    .home-seciton-separator1     