.about-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #232323;
}
.about-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.about-image {
  width: 256px;
  height: 193px;
  object-fit: cover;
}
.about-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.about-text {
  color: rgb(255, 255, 255);
  font-size: 60px;
  align-self: flex-end;
  font-style: normal;
  font-weight: 700;
}
.about-dashboard {
  top: 194px;
  left: 390px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 45px;
  align-self: flex-start;
  text-decoration: underline;
}
.about-about {
  top: 298px;
  left: 753px;
  color: var(--dl-color-primary-500);
  position: absolute;
  font-size: 45px;
  align-self: flex-start;
  text-decoration: underline;
}
.about-team {
  top: 299px;
  left: 1080px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 45px;
  align-self: flex-start;
  text-decoration: underline;
}
